
<p>
  <mat-toolbar class="colorNombre">
    <span>Boutique Alberta</span>
  </mat-toolbar>
</p>

<div class="contenedorimagen">
  <img   src="assets/Foto Alberta.jpg" width="600" height="500">
</div>






  <mat-tab-group>

    <div class="imagenIzquierda">
      <mat-tab label="Casual">
        <img   src="assets/Ropa CasualUno.jpg" width="350" height="400"> 
        <img src="assets/Ropa CasualDos.jpg" class="centrar" width="400" height="360">
        <img src="assets/Ropa CasualTres.jpg" class="imagenDerecha" width="370" height="400">  
      </mat-tab>
    </div>
    


    <div class="imagenIzquierda">
      <mat-tab label="Formal">  
        <img   src="assets/Ropa FormalUno.jpg" width="350" height="400"> 
        <img src="assets/Ropa FormalDos.jpg" class="centrar" width="400" height="360">
        <img src="assets/Ropa FormalTres.jpg" class="imagenDerecha" width="370" height="350">
      </mat-tab>
    </div>

    
    <div class="imagenIzquierda">
      <mat-tab label="Vintaje">  
        <img   src="assets/Ropa VintajeUno.jpg" width="350" height="350"> 
        <img src="assets/Ropa VintajeDos.jpg" class="centrar" width="400" height="360">
        <img src="assets/Ropa VintajeTres.jpg" class="imagenDerecha" width="390" height="400">
      </mat-tab>
    </div>

  </mat-tab-group>

    <p>
      <mat-toolbar class="barraAbajo">
        <span> 2023 Boutique Alberta. Todos los derechos reservados. </span>
      </mat-toolbar>
    </p>


  



















  



  
