<p>
    <mat-toolbar class="colorNombre">
      <span>Un Poco Sobre Nosotros</span>
    </mat-toolbar>
  </p>




<mat-tab-group>

    
    <mat-tab label="Ubicación">
        <div class="centrar-contenedor">
          <img src="assets/Foto Ubi.png" class="centrar-imagen" width="900" height="800">
        </div>
      </mat-tab>
   
    


      <mat-tab label="Contacto">
        <div class="centrar-contenedor">
          <img src="assets/Face.png" class="centrar-imagen" width="900" height="800">
        </div>
      </mat-tab>

    
      <mat-tab label="Horarios">
        <div class="centrarHora">
          <img src="assets/Horario.png" class="centrar-imagen" width="700" height="2000">
        </div>
      </mat-tab>

  </mat-tab-group>


  <p>
    <mat-toolbar class="barraAbajo">
      <span> 2023 Boutique Alberta. Todos los derechos reservados. </span>
    </mat-toolbar>
  </p>