<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav">
   
    <mat-nav-list class="lista">
      
      <a mat-list-item href="http://localhost:4200/inicio"> <b>inicio</b>  </a>
      <a mat-list-item href="http://localhost:4200/menu"> <b>menu</b>  </a>
      <a mat-list-item href="http://localhost:4200/tabla"> <b>tabla</b>  </a>
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Un poco sobre nosotros</span>
    </mat-toolbar>


    <mat-tab-group>

    
      <mat-tab label="Ubicación">
          <div class="centrar-contenedor">
            <img src="assets/Foto Ubi.png" class="centrar-imagen" width="900" height="800">
          </div>
        </mat-tab>
     
      
  
  
        <mat-tab label="Contacto">
          <div class="centrar-contenedor">
            <img src="assets/Face.png" class="centrar-imagen" width="900" height="800">
          </div>
        </mat-tab>
  
      
        <mat-tab label="Horarios">
          <div class="centrarHora">
            <img src="assets/Horario.png" class="centrar-imagen" width="700" height="2000">
          </div>
        </mat-tab>
  
    </mat-tab-group>
  
  
    <p>
      <mat-toolbar class="barraAbajo">
        <span> 2023 Boutique Alberta. Todos los derechos reservados. </span>
      </mat-toolbar>
    </p>


  </mat-sidenav-content>
</mat-sidenav-container>




