<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" class="sidenav">
     
      <mat-nav-list class="lista">
        
        <a mat-list-item href="http://localhost:4200/inicio"> <b>inicio</b>  </a>
        <a mat-list-item href="http://localhost:4200/nosotros"> <b>nosotros</b>  </a>
        <a mat-list-item href="http://localhost:4200/tabla"> <b>tabla</b>  </a>
       
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Menú De Hamburguesa</span>
      </mat-toolbar>
 
    </mat-sidenav-content>
  </mat-sidenav-container>
  
